.env
.env.local
# Ignore local docker compose overrides
docker-compose.override.yml

# Node
node_modules/

# Dotnet
bin/
obj/
**/bin/
**/obj/
.vs/
 
# Ignore local Terraform overrides containing secrets
terraform/terraform.tfvars
