.main-content {
  min-height: 70vh;
}

h1, h2, h3 {
  color: #2d3142;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  color: #393e57;
}

h3 {
  font-size: 1.1rem;
  color: #555;
  margin-top: 1.5em;
}

main {
  max-width: 1280px;
  margin: 2.5rem auto 2.5rem auto;
  background: #fff;
  padding: 1.4rem 1.4rem 1.1rem 1.4rem;
}

ul, p {
  color: #33374c;
  line-height: 1.7;
}

@media (max-width: 600px) {
  .main-content {
    padding: 1.5rem 0.75rem 2.5rem 0.75rem;
  }
  main {
    margin: 1rem 0.35rem 0 0.35rem;
    padding: 1.2rem 0.8rem;
  }
}

